html, body {
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #41190f;
  height: 100%;
  width: 100%;
}
a, a:hover {
  text-decoration: none;
  color: #0801E0;
}

.zwart {
  color: #000000;
}

.wit {
  color: #FFFFFF;
}

.donkerblauw {
  color: #0801E0;
}

.lichtblauw, caption {
  color: #149FE0;
}

.turqoise {
  color: #14E0C0 !important;;
}

.rood, span {
  color: #FF0000;
}

.rood a {
  color: #0801E0; /
}

.underline {
  text-decoration: underline;
}

.kader {
  border: 1px solid #000;
  padding: 20px;
}




.carousel-control-prev,
.carousel-control-next {
    background-color: #FFFFFF;
    border: none; 
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); 
}


.carousel-item img {
  height: 300px; 
}


.fancy-border {
  border: 2px solid #007bff; 
  border-radius: 15px; 
  padding: 20px; 
  margin-bottom: 20px; 
}


